# Node
node_modules
npm-debug.log*
yarn-error.log
.pnpm-debug.log*

# Bun
*.bun-build

# Env
.env
.env.*
!.env.example

# Logs and coverage
*.log
coverage
.nyc_output

# macOS
.DS_Store

# Editors
*~
.*.swp
.*.swo
.idea
.vscode
.history/

# TypeScript state
*.tsbuildinfo

# build outputs
/packages/**/build/
